/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  max-width: 700px;
  max-height: 100vh;
}

#root {
  max-width: 700px;
  max-height: 100vh;
  background-color: green;
}
 */


 /* 수정된 CSS 파일 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* 페이지 내에서 로고를 가운데 정렬하기 위해 필요 */
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  max-width: 700px;
  height: 100vh;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box; /* padding을 요소의 크기에 포함시킵니다. */
}

.logo-container {
  margin-bottom: 20px;
  text-align: center;
}

.logo-img {
  width: 200px; /* 로고의 너비를 조정합니다. */
  height: auto; /* 세로 비율을 유지합니다. */
}
